.cv {
    font: 16px/1.6 Roboto,Helvetica,sans-serif;
    font-weight: 300;
    margin-top: -25px;
    .cv-page {
        width: 920px;
        padding: 80px 67px 60px;
        margin: 80px auto;
        background-color: #fff;
        box-shadow: 2px 2px 1px #606060;
    
        font-family: Roboto,Helvetica,sans-serif;
        color: #000;
        font-size: 14px;
        line-height: 1.5;
    
        .cv-header {
            display: flex;
            .cv-header-avatar {
                float: left;
                img {
                    border-radius: 2px;
                    height: 150px;
                }
            }
            .cv-header-text {
                -webkit-box-flex: 1;
                flex: 1;
                padding: 0 15px;
    
                .cv-header-name {
                    display: block;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 1;
                    margin-bottom: 5px;
                    color: #BB1E1E;
                }
    
                .cv-header-subname {
                    display: block;
                    text-transform: none;
                    font-size: 24px;
                    font-weight: 300;
                    margin-bottom: 5px;
                    color: #777;
                }
    
            }
            .cv-header-meta {
                font-size: 14px;
                color: #777;
                white-space: nowrap;
                .cv-header-meta-right {
                    float: right;
                    border-left: 1px solid #e0e0e0;
                    padding-left: 15px;
                    text-align: left;
                }
                
            }
        }
        .cv-section {
            margin-top: 1.5em;
            .cv-section-title {
                color: #BB1E1E;
                font-size: 24px;
                font-weight: 300;
                padding-left: 21.5%;
                margin-bottom: 15px;
                page-break-after: avoid;
            }
            .cv-section-content.cv-section-content--indented {
                padding-left: 21.5%;
                ul {
                    margin-top: 0;
                }
                ul:not(.tech-tags) {
                    padding-left: 20px;
                }
            }
    
            .cv-timeline {
                .cv-timeline-row {
                    page-break-inside: avoid;
                    overflow: hidden;
                    .cv-timeline-side {
                        float: left;
                        width: 23%;
                        text-align: right;
                        padding-right: 15px;
                        color: #777;
                        font-size: 13px;
                        @media screen and (min-width: 768px) {
                            .cv-timeline-company {
                                background-color: #eee;
                                padding: 3px 7px;
                                margin-bottom: 5px;
                                border-radius: 2px;
                            }
                        }
                    }
                    .cv-timeline-body {
                        float: left;
                        width: 77%;
                        .cv-timeline-position {
                            font-weight: 400;
                            font-size: 18px;
                            color: #333;
                            line-height: 1.3;
                        }
                        p, .cv-timeline-body ul {
                            margin-top: 5px;
                            margin-bottom: 5px;
                        }
    
                        ul:not(.tech-tags) {
                            padding-left: 20px;
                        }
                    }
                }    
            }
            .cv-timeline-row+.cv-timeline-row {
                margin-top: 15px;
            }
        }
    }

    a {
        text-decoration: none;
        color: #b24a4a;
    }
    
}



// .cv {
//     font-family: 'Roboto', sans-serif;
//     font-size: 14px;
//     line-height: 1.5;
// }
// .cv-page {
//     width: 920px;
//     padding: 80px 80px 60px;
//     margin: 80px auto;
//     background-color: #fff;
//     box-shadow: 2px 2px 1px #606060;
// }
// @media print {
//     body.cv {
//     background-color: #fff;
// }
// .cv-page {
//     padding: 40px 80px;
//     box-shadow: none;
// }
// }.cv-header {
//     display: -webkit-box;
//     display: flex;
// }
// .cv-header-avatar {
//     float: left;
// }
// .cv-header-avatar img {
//     border-radius: 2px;
//     height: 150px;
// }
// @media screen and (max-width:1000px) {
//     .cv-page {
//     width: auto;
//     margin: 0 auto;
//     padding: 20px;
// }
// .cv-header {
//     display: block;
//     text-align: center;
// }
// .cv-header-avatar {
//     float: none;
//     margin-bottom: 15px;
// }
// .cv-header-avatar img {
//     border-radius: 6px;
// }
// }.cv-header-text {
//     -webkit-box-flex: 1;
//     flex: 1;
//     padding: 0 15px;
// }
// .cv-header-name {
//     display: block;
//     text-transform: uppercase;
//     font-weight: 500;
//     font-size: 30px;
//     line-height: 1;
//     margin-bottom: 5px;
//     color: #BB1E1E;
// }
// .cv-header-subname {
//     display: block;
//     text-transform: none;
//     font-size: 24px;
//     font-weight: 300;
//     margin-bottom: 5px;
//     color: #777;
// }
// .cv-header-meta {
//     font-size: 14px;
//     color: #777;
//     white-space: nowrap;
// }
// .cv-header-meta-left {
//     float: left;
//     text-align: right;
// }
// @media screen and (max-width:1000px) {
//     .cv-header-text {
//     padding: 0;
// }
// .cv-header-meta {
//     white-space: normal;
//     margin-top: 5px;
// }
// .cv-header-meta-left {
//     float: none;
//     text-align: center;
// }
// }.cv-header-meta-right {
//     float: right;
//     border-left: 1px solid #e0e0e0;
//     padding-left: 15px;
//     text-align: left;
// }
// @media screen and (max-width:1000px) {
//     .cv-header-meta-right {
//     float: none;
//     padding: 0;
//     text-align: center;
//     border-left: none;
// }
// .cv-header-meta-row {
//     display: inline;
// }
// .cv-header-meta-row+.cv-header-meta-row:before {
//     content: ' / '}
// }.cv-section+.cv-section {
//     margin-top: 1.5em;
// }
// .cv-section-title {
//     color: #BB1E1E;
//     font-size: 24px;
//     font-weight: 300;
//     padding-left: 21.5%;
//     margin-bottom: 15px;
//     page-break-after: avoid;
// }
// .cv-tech-tags a, .cv-tech-tags a:hover {
//     background-color: #e0e0e0;
//     color: inherit;
// }
// @media screen and (max-width:767px) {
//     .cv-section+.cv-section {
//     margin-top: 15px;
// }
// .cv-section-title {
//     padding-left: 0;
// }
// }.cv-section-content.cv-section-content--indented {
//     padding-left: 21.5%}
// @media screen and (max-width:767px) {
//     .cv-section-content.cv-section-content--indented {
//     padding-left: 0;
// }
// .cv-timeline-row+.cv-timeline-row {
//     padding-top: 15px;
//     border-top: 1px solid #eee;
// }
// }.cv-section-content ol, .cv-section-content ul:not(.tech-tags) {
//     padding-left: 20px;
// }
// .cv-tech-tags li {
//     display: block;
//     margin: 4px 4px 0 0;
//     float: left;
// }
// .cv-timeline-row {
//     page-break-inside: avoid;
// }
// .cv-timeline-row+.cv-timeline-row {
//     margin-top: 15px;
// }
// .cv-timeline-side {
//     float: left;
//     width: 23%;
//     text-align: right;
//     padding-right: 15px;
//     color: #777;
//     font-size: 13px;
// }
// @media screen and (max-width:767px) {
//     .cv-timeline-side {
//     float: none;
//     width: auto;
//     text-align: center;
//     margin-bottom: 10px;
//     overflow: hidden;
// }
// }.cv-timeline-body {
//     float: left;
//     width: 77%}
// .cv-timeline-body p, .cv-timeline-body ul {
//     margin-top: 5px;
//     margin-bottom: 5px;
// }
// .cv-timeline-company {
//     text-transform: uppercase;
// }
// @media screen and (min-width:768px) {
//     .cv-timeline-company {
//     background-color: #eee;
//     padding: 3px 7px;
//     margin-bottom: 5px;
//     border-radius: 2px;
// }
// }@media print {
//     .cv-timeline-company {
//     background: 0 0;
//     padding: 0;
//     font-size: 14px;
//     margin-bottom: 0;
// }
// }.cv-timeline-position {
//     font-weight: 400;
//     font-size: 18px;
//     color: #333;
//     line-height: 1.3;
// }
// @media screen and (max-width:767px) {
//     .cv-timeline-body {
//     float: none;
//     width: auto;
// }
// .cv-timeline-company {
//     float: left;
// }
// .cv-timeline-website {
//     display: none;
// }
// .cv-timeline-date {
//     float: right;
// }
// }